<div data-hook='admin_product_form_dietary_info'>
	<%= f.field_container :dietary_info do %>
		<%= f.label :dietary_info, Spree.t(:dietary_info) %>
		<%= f.text_field :dietary_info, :class => 'fullwidth' %>
	<% end %>
</div>
